<?xml version="1.0" encoding="utf-8"?>

<!--
    MyFirebaseMessagingService.java
    EC-sample

    Created by Trial: Yusuke Ebinuma on 2019/08/09.
    Copyright © 2019 Repro CRE. All rights reserved.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.company.ecsample">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="MyApplication">

        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.HomeActivity"></activity>
        <activity android:name=".Activity.detailActivity"></activity>
        <activity android:name=".Activity.cartActivity"></activity>
        <activity android:name=".Activity.WebviewActivity"></activity>


        <!--
            Register receiver

            Refer to the documentation for more detail information.
            (JP) https://docs.repro.io/ja/dev/sdk/push-notification/android.html#receiver
            (EN) https://docs.repro.io/en/dev/sdk/push-notification/android.html#receiver
        -->
        <receiver
            android:name="io.repro.android.ReproReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.company.ecsample" />
            </intent-filter>
        </receiver>


        <!--
            Add service

            Refer to the documentation for more detail information.
            (JP) https://docs.repro.io/ja/dev/sdk/push-notification/android.html#registration-idrepro
            (EN) https://docs.repro.io/en/dev/sdk/push-notification/android.html#registration-idrepro
        -->
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
            Setup Notification Channels

            Refer to the documentation for more detail information.
            (JP) https://docs.repro.io/ja/dev/sdk/push-notification/android.html#notification-channel-setting
            (EN) https://docs.repro.io/en/dev/sdk/push-notification/android.html#notification-channel-setting
        -->
        <meta-data
            android:name="io.repro.android.PushNotification.ChannelId"
            android:value="com.company.ecsample.DefaultChanneID" />
        <meta-data
            android:name="io.repro.android.PushNotification.ChannelName"
            android:resource="@string/CHANNEL_NAME" />
        <meta-data
            android:name="io.repro.android.PushNotification.ChannelDescription"
            android:resource="@string/CHANNEL_DESCRIPTION" />
        <meta-data
            android:name="io.repro.android.PushNotification.ShowBadge"
            android:value="true" />

        <!--
            (Option) Customize Icon and Background Color

            Refer to the documentation for more detail information.
            (JP) https://docs.repro.io/ja/dev/sdk/push-notification/android.html#notification-channel-setting
            (EN) https://docs.repro.io/en/dev/sdk/push-notification/android.html#notification-channel-setting
        -->
        <meta-data
            android:name="io.repro.android.PushNotification.SmallIcon"
            android:resource="@drawable/ic_launcher_foreground">
        </meta-data>
        <meta-data
            android:name="io.repro.android.PushNotification.AccentColor"
            android:resource="@color/colorAccent">
        </meta-data>
    </application>

</manifest>